*, ::after, ::before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka { background-color: #2ecc71; }
.hlavni   { background-color: #f1c40f; }
.levy     { background-color: #3498db; }
.pravy    { background-color: #e74c3c; }
.paticka  { background-color: #9b59b6; }

.kontejner {
	display: flex;
	
	

}
.sloupec:first-child{
	order:2;
	flex-grow: 1;
	
}
.sloupec:last-child{
	order:3;
	width: 150px;
	flex-shrink: 0;
	

}
.sloupec:nth-child(2){
	width: 200px;
	flex-shrink: 0;
}
/* ------------- pod čáru přijdou tvé styly ------------- */
